* {
    margin: 0;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
  }




  /*                                                               NAVIGATION BAR                                                                                                  */

  nav{
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
      
  nav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 15px;  
  }
      
  nav a:hover {
    background-color: #ddd;
    color: black;
    transition: all 1s ease;
  }
      
  nav a.active {
    background-color:#ddd;
    color: rgb(0, 0, 0);
  }

/* Background image for the heritage page */

.background-heritage{
  background-image: url(../images/texture-light-brown-marble-with-pattern_113767-2786.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*                                                                             FOOTER SECTION                                              */


.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
}

.footer-item{ 
  height: auto;
  width: 400px;
}

.footer-container p{
  font-size: 20px;
  color: azure;
  font-weight:lighter;
  
}

.footer-container h1{
  color: lightgray;
  font-size: 29px;
  
  font-weight: bold;
}

.footer-container p:hover{
  cursor: pointer;
  color: white;
}


#social-media{
  color: white;
  font-size: 30px;
}

#copyright{
  text-align: center;
  color: white;
  background-color: black;
  font-family:'brush script',cursive;
}


/* Styling of the button to next heritage page */

.button{
  border-radius: 8px;
  border: 2px solid black;
  background-color: #f2f2f2;
  font-size: 30px;
  text-align: center;
  width:fit-content;
  margin: auto;
  padding: 0% 1% 0% 1%;
  }
   
a{
  text-decoration: none;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
}
   
.button:hover{
  background-color: #3a3939;
  color: white;
  transform: scale(1.08);
  transition: all 1s ease;
}

/* Styling the sections and it's content */

#main-image-heritage{
  width: 80%;
  height: auto;
}

section{
  margin: 1% 3% 1% 3%;
  font-weight: bolder;
  background-color: white;
  border-radius: 8px;
  border: 2px solid black;
}

section p,h3{
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;  
}

h3{
  font-size: 25px;
  text-decoration: underline;
}

h2{
  text-align: center;
  font-size: 40px;
  font-weight:bolder;
  color: black ;
}

img{
  display: block;
  margin: auto;
  border: 2px solid white;
  border-radius: 8px;
  height: auto;
}

figcaption{
  text-align: center;
}


 /* flexboxes used to display images */

.flexbox-heritage-container{
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.flexbox-heritage-item{
  flex: 50%;
  height: auto;
  margin-bottom: 1%;
  border-radius: 8px; 
}

.flexbox-heritage-container img{
  height: auto;
  width: 80%;
  border: 8px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #3a3939; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.flexbox-heritage-container img:hover,img:hover{
  filter: brightness(70%);
  transition: all 1s ease;
}

 
   









 /*                                                          The Main animation                                    */
#slide-container {
  position: relative;
  max-width:1920px; /* to make it responsive */
  margin-left: auto;
  margin-right: auto;
 }
 /* First element to be in block mode for responsiveness */
 #slide-first-element {
  display: block; /* to get the dimensions set */
  width: 100%;
  height: auto;
 }

 #slide-element-2,
 #slide-element-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

 /* Style images */
 .slide-image {
  width: 100%;
 
 }

 /* Animation settings for individual elements */
 
 #slide-first-element {
  animation: fade-1 10s infinite;
  -webkit-animation: fade-1 10s infinite;
 }
 #slide-element-2 {
  animation: fade-2 10s infinite;
  -webkit-animation: fade-2 10s infinite;
 }
 #slide-element-3 {
  animation: fade-3 10s infinite;
  -webkit-animation: fade-3 10s infinite;
 }
 /* and more if there are more slides to show */
 @keyframes fade-1 {
  0% { opacity: 1; }
  33% { opacity: 0; }
  66% { opacity: 0; }
  100% { opacity: 1; }
 }
 @keyframes fade-2 {
  0% { opacity: 0; }
  33% { opacity: 1; }
  66% { opacity: 0; }
  100% { opacity: 0; }
 }
 @keyframes fade-3 {
  0% { opacity: 0; }
  33% { opacity: 0; }
  66% { opacity: 1; }
  100% { opacity: 0; }
 }
 /* example for a 4th slide */
 @keyframes fade-4 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
 }
 
/*                                                                for Mobile view                            */


 @media screen and (max-width:450px){
    
     
  
  nav a {
   float:left;
   color: #f2f2f2;
   text-align: center;
   padding: 1% 2%;
   text-decoration: none;
   font-size: 40%;
 }

 
}

@media screen and (max-width: 760px){
  .flexbox-heritage-container
  {flex-direction: column}

  img{width: 80%;}

 }

 @media screen and (max-width: 760px){
  .flexbox-heritage-container
  {flex-direction: column}

  img{width: 80%;}

 }

 
/* Media queries used for mobile view */
@media screen and (max-width: 760px){
  .flexbox-heritage-container
  {flex-direction: column}

  img{width: 80%;}

 }


  


